h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: blueviolet;
    text-align: center;
}

input{
    margin: auto;
    width: calc((100% / 2) - 10px) ;
    min-height: 50px;
}

#container{
    font-size: 20px;
    width: 70%;
    margin: auto;
}

#container > div {
    border: solid 0.1rem blue;
    margin-top: 0.2rem;
    background-color: rgb(255, 196, 238);

}