h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: blueviolet;
    text-align: center;
}

input{
    margin: auto;
    width: calc((100% / 2) - 10px) ;
    min-height: 50px;
}

#container{
    font-size: 20px;
}